_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile.lock
node_modules
package.json
*.gem
*.gemspec
.jekyll-cache
.github/instructions/copilot-sdk-python.instructions.md
.github/instructions/python.instructions.md
.github/prompts/comment-code-generate-a-tutorial.prompt.md
